<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hospital.s1m.lib_user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name="com.hospital.s1m.lib_user.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:launchMode="singleTask"
            android:name="com.hospital.s1m.lib_user.ui.FindActivity" />
        <activity
            android:launchMode="singleTask"
            android:name="com.hospital.s1m.lib_user.ui.LoginMActivity" />
    </application>

</manifest>